<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyWebApp</title>
</head>
<style>
    .lamp-emoji {
            font-size: 48px; /* Adjust size as needed */
            display: block;
            text-align: center; /* Center the emoji */
        }
        .emoji-container {
            font-size: 48px; /* Adjust size as needed */
            text-align: center;
        }
</style>
<body>
    <div class="menu-toggle" onclick="toggleMenu()">☰</div>
    <div class="menu">
        <ul>
            <br>
            <br>
            <br>
            <br>
            <li><a href="/payroll">list1</a></li>
            <li><a href="/invoice">list2</a></li>
            <li><a href="/contact">mail</a></li>
            <li><a href="/logout" class="logout-button">Logout</a></li>
        </ul>
    </div>
    <br>
    <br>
    <div class="logo-container">
        <a href="/index">
            <img src="WebApp.png" alt="Logo" class="logo">
        </a>
    </div>
    <br>
    <h1 class="welcome-message">MyWebApp <%= vat %></h1>

       
      
    
</body>
</html>
