<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Μισθοδοσία </title>
</head>
<body>
    <div class="menu-toggle" onclick="toggleMenu()">☰</div>
    <div class="menu">
        <ul>
            <br>
            <br>
            <br>
            <br>
          <li><a href="/index">list1</a></li>
            <li><a href="/payroll">list2</a></li>
            <li><a href="/invoice">list3</a></li>
            <li><a href="/contact">list4</a></li>
            <li><a href="/logout" class="logout-button">Logout</a></li>
        </ul>
    </div>

    <br>
    <br>
    <div class="logo-container">
        <a href="/index">
            <img src="WebApp.png" alt="Logo" class="logo">
        </a>
    </div>
    <br>
    <h2>Μισθοδοσία <%= vat %></h2>
    <div class="logo-container">
        <img src="/underconstruction.jpg" alt="logo" class="logo">
    </div>
    
</body>
</html>
